<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/stylesheets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/mustache.js/2.2.1/mustache.min.js"></script>
  <script>
    var csrf_token = '{{ session.csrf_token }}';
    {% if g.user %}
      var user_id = {{ g.user.id }};
    {% endif %}
  </script>
</head>
<body>
    {%  block content %}
    {%  endblock %}
</body>
</html>